<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API FOR IRIS FLOWER CLASSIFICATION </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	                       
     <!-- Main Input For Receiving Query to our ML -->
     <center>
	     <h1>ML API FOR IRIS FLOWER  : BY PRIYANG BHATT</h1>
       <marquee><h1 align="center"> <font color="red">Iris Flower Classfication </font></h1></marquee>
    <fieldset bordercolor="green">
    <legend>IRIS FLOWER:</legend>	    
    <form action="{{ url_for('predict')}}"method="post">
        <p>Enter Sepal Length: <input type="number" name="sl" step="0.01" required></p>
        <p>Enter Sepal Width: <input type="number" name="sw" step="0.01" required></p>
        <p>Enter Petal Length: <input type="number" name="pl" step="0.01" required></p>
        <p>Enter Petal Width: <input type="number" name="pw" step="0.01" required></p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
     </fieldset>
	    
    </form> 
    <center>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
